@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@import "tailwindcss";

@theme {
  --font-press-start: "Press Start 2P", cursive;
}

@utility text-shadow {
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
}

@utility font-press-start {
  font-family: var(--font-press-start);
}